{% extends 'base.html.twig' %}

{% block title %}Spider Info{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/cover.css">
    <style>v-cloak{display: none;}sup{position: relative;text-transform:uppercase;left: 0px;font-size: 10px;top: -28px;}</style>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                domains: 0,
                queue: 0,
                pending: 0,
                workers: []
            },
            mounted: function(){
		        const _this = this;
                setInterval(function(){
                    _this.getStats();
                }, 2000);
                this.getStats();
            },
            methods: {
                getStats: function(){
                    let self = this;
                    this.$http.get('/spider-status', {responseType: 'json'}).then(function(response) {
                        if (response.status == "200") {

                            if( response.body.domains ){
                                self.domains = response.body.domains;
                            }

                            if( response.body.queue ){
                                self.queue = response.body.queue;
                            }

                            if( response.body.pending ){
                                self.pending = response.body.pending;
                            }

                            if( response.body.workers ){
                                self.workers = response.body.workers;
                            }
                        }
                    });
                },
                start: function (event) {
                    console.log('--> Start');
                    let _this = this;
                    event.preventDefault();
                    this.$http.get('/spider-start', {responseType: 'json'}).then(function(response) {
                        _this.getStats();
                        console.log(response);
                    });

                },
                stop: function (event) {
                    console.log('--> Stop');
                    let _this = this;
                    event.preventDefault();
                    this.$http.get('/spider-stop', {responseType: 'json'}).then(function(response) {
                        _this.getStats();
                        console.log(response);
                    });
                },
                refresh: function (event) {
                    console.log('--> Refresh');
                    let _this = this;
                    event.preventDefault();
                    _this.getStats();
                },
                getWorkerSize: function(){
                    return this.workers.length;
                }
            }
        })

    </script>
{% endblock %}

{% block body %}
    <div id="app">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                </div>
            </header>
            <main role="main" class="inner " v-cloak>
                <div class="clearfix">
                    <h1 class="float-md-left cover-heading">Spider <sup>Beta</sup></h1>
                    <a class=" float-md-right btn btn-success" v-on:click="start">Start Crawler</a>
                </div>
                <p class="lead mt-4">Domains: {{"{{ domains }}"}} | Queue: {{"{{ queue }}"}} | Processing: {{"{{ pending }}"}} | Crawlers: {{"{{ getWorkerSize() }}"}}</p>
                <table class="table table-striped table-dark" style="margin-top: 30px;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>PID</th>
                            <th>Type</th>
                            <th>Started</th>
                            <th style="text-align: right;">&nbsp;</th>
                        </tr>
                    </thead>
                    <template v-for="item in workers">
                        <tr>
                            <td>{{"{{ item.id }}"}}</td>
                            <td>{{"{{ item.pid }}"}}</td>
                            <td>Worker</td>
                            <td>{{"{{ item.date }}"}}</td>
                            <td style="text-align: right"><a class="btn btn-danger" v-on:click="stop">Stop</a></td>
                        </tr>
                    </template>
                </table>
            </main>
            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>Ghostfrog web crawler by <a href="maiilto:garyonstable80@gmail.com">@gary</a>.</p>
                </div>
            </footer>
        </div>
    </div>
{% endblock %}
